<h1>Monthly costs</h1>

<horizontal-calendar [dates]="dates" (notify)="onNotify($event)"></horizontal-calendar>
<br />
<div class="row">
  <div class="col-md-12">
    <input type="text" #startDatePicker [(ngModel)]="dates.startDate" autocomplete="off" placeholder="Start date" />
    <input type="text" #endDatePicker [(ngModel)]="dates.endDate" autocomplete="off" placeholder="End date" />
    Forecast <input [(ngModel)]="forecast" type="checkbox" />
    <input type="button" (click)="onClickRecalculate()" class="btn btn-primary" value="Recalculate costs" />
    <input type="button" (click)="onClickAcceptCosts()" class="btn btn-primary" value="Accept costs" />
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <flash-message></flash-message>
    <table *ngIf="results" class="table table-bordered">
      <tr *ngFor="let item of results">
        <td>{{ item[0] }}</td>
        <td><i class="fa {{ icon(item[1]) }}" aria-hidden="true"></i></td>
      </tr>
    </table>
  </div>
</div>
