* {
    font-family: 'Lato', sans-serif;
}
input:focus {
     outline: none;
}
a {
    cursor: pointer;
}
.btn:active,
.btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.nav-tabs {
    border-bottom: 0;
}
.nav .brand {
    font-size: 20px;
    color: #777;
    padding: 13px 20px 13px;
    line-height: 2em;
}
.nav-tabs > li {
    margin-bottom: 0;
}
.nav-tabs > li > a {
    border-radius: 0;
}
.nav.nav-main {
}
.nav.nav-main .active a {
    cursor: pointer;
    background-color: #3c8dbc;
    color: #fff;
}
.nav.nav-tabs.nav-submenu {
    background-color: #3c8dbc;
}
.nav.nav-tabs.nav-submenu li,
.nav.nav-tabs.nav-submenu li a,
.nav.nav-tabs.nav-submenu li.active a {
    border: 0;
    background-color: transparent;
    color: #fff;
}
.nav.nav-tabs.nav-submenu li.active a {
    color: #fff;
    background-color: rgba(255,255,255,0.3);
}
.sidebar .nav.nav-tabs.teams-menu ul {
    margin-top:10px;
}
.sidebar .nav.nav-tabs.teams-menu li {
    background: transparent;
}
.sidebar .nav.nav-tabs.teams-menu .active a {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #f39c12;
}
.sidebar
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f4f4f4;
    color: #000;
    webkit-box-shadow: inset -2px 0px 8px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset -2px 0px 6px -3px rgba(0, 0, 0, 0.3);
    box-shadow: inset -2px 0px 6px -3px rgba(0, 0, 0, 0.3), inset 0px 3px 8px -4px rgba(0, 0, 0, 0.3);
}
.sidebar .search {
    margin: 10px 0;
}
.sidebar .search input {
    width: 100%;
    box-sizing: border-box;
    padding:5px 10px;
    border: 1px solid #ccc;
    border-left: 0;

}
.sidebar .search .input-group-addon {
    background-color:#fff;
    border-radius: 0;
    padding-right:3px;
}
.sidebar .items {
    height: 500px;
}
.sidebar .items ul,
.sidebar .items ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar .items ul li a {
    display: block;
    position: relative;
    color: #555;
}
.sidebar .items ul li a:hover {
    text-decoration: none;
}
.sidebar .items .services > li > a:after {
    font-family: 'FontAwesome';
    content: "\f104";
    position: absolute;
    right:0;
}
.sidebar .items .services > li.active > a:after {
    content: "\f107";
}
.sidebar .items .services li {
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
}
.sidebar .items .services .envs li {
    padding: 3px 15px;
    border-bottom: none;
}
.sidebar .items .services .envs .active {
    background-color: rgba(0,0,0,0.1);
}
.sidebar .items ul.services .active {
    background-color: rgba(255,255,255, 1);
}
.sidebar .items ul.envs .active {
}

.content {
    padding-top: 10px;
}
.content .title {
    box-shadow: inset 0px -2px 5px -3px rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
}
.content .title h1,
.content .title h2 {
    display: inline;
}
.content .title h1 {
    font-size: 30px;
}
.content .title h2 {
    margin-left: 10px;
    font-size: 20px;
    color: #555;
}
.content .data {
    padding-top: 10px;
}
.content .date-choice .row {
    margin-bottom: 5px;
}
.content .categories {
    display: table;
    table-layout: fixed;
    color: #fff;
    width: 100%;
}
.content .categories .category {
    display: table-cell;
    opacity: 0.7;
}
.content .categories .category.active,
.content .categories .category:hover {
    opacity: 1;
}
.content .categories .category .wrapper{
    margin: 5px;
    position: relative;
}
.content .categories .category .name {
    padding: 10px 10px 0 10px;
    font-size: 25px;
}
.content .categories .category .value {
    padding: 0 10px 0 0;
    text-align: right;
    font-size: 30px;
}
.content .categories .category .link {
    text-align: center;
    padding: 5px;
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.content .categories .category .link:hover {
    background: rgba(0, 0, 0, 0.2);
}

.content .categories .category .fa {
    position: absolute;
    font-size: 75px;
    top: 10px;
    right: 45px;
    color: rgba(255, 255, 255, 0.2);
}

.footer {
    padding-top: 10px;
}

.scrollbar {
    overflow-y: auto;
    overflow-x: hidden;
}

/*Animations*/
.opcaity-animation {
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
