@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.fa-fw {width: 2em;}
#body {
	height: 90%;
}
.nav.nav-tabs h1{
	margin: 0px 10px;
	height: 40px;
	padding-bottom: 10px;
}
.nav.nav-tabs h1 img {
	margin-top: -20px;
}
.panel-heading {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	border-bottom: 0px;
}
.nav-submenu {
	background-color: white;
}
.dropdown-left-menu {
	border: 0px;
	position: relative;
	margin: 0px;
	background-color: transparent;
	float: none;
	-webkit-box-shadow: 0 0px 0px;
	-webkit-box-shadow: 0 0px 0px;
}
.left-menu {
	min-height: 100px;
	width: 100%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 30px 40px;
	border: 0px;
}
.btn-datepicker {
    float: none !important;
}
.btn-day-scrooge {
	width: 35px;
	margin: 0px 0px 3px 0px;
	text-align: center;
	padding: 0px;
}
.btn-month-scrooge {
	width: 100px;
	margin: 2px; 5px 2px 0px;;
	text-align: center;
}
.btn-month {
	padding: 0px 15px 10px 17px;
    width: 99%;
    margin: 0px auto;
	-webkit-border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
}
.btn-day {
	padding: 0px 15px 10px 17px;
    width: 99%;
    margin: 0px auto;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
}
.footer {
	text-align: center;
	padding-top: 10px;
}
.footer p {
	display: inline-block;
	text-align: center;
}
.footer .version{
	margin-left: 20px;
	float: left;
	color: rgba(200, 200, 200, 1);
}
.footer a {
	color: #ffcc00;
}
.panel-background {
	text-align: center;
    border: 1px solid #e3e3e3;
    background-color: #f5f5f5;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
    padding-top: 10px;
}
.panel-datepicker {
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
    padding-top: 10px;
}
.panel-filters {
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
    padding-top: 10px;
}
.bg-background {
    background-color: white;
    width: 98%;
    height: 1%;
    border: 1px solid #e3e3e3;
    margin: 0px auto;
}
.bg-datepicker {
    margin-bottom: 15px;
    margin-top: -18px;
    border-top: 0px;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
}
.bg-filters {
    margin-bottom: -2px;
    border-bottom: 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}
.sidebar-well {
    padding-bottom: 20px;
    padding-top: 0px;
}
.sidebar-nav-scrooge {
    padding: 0px;
    border: 1px solid black;
    border-right: none;
	-webkit-border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
.sidebar-navbar-default {
    background-color: white;
    margin-top: -1px;
    padding-top: 10px;
    border: 1px solid #e3e3e3;
    border-top: 0px;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
}
.nav-second-level li {
    padding-left: 30px;
}
.panel-datepicker-heading {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
    padding-bottom: 0px;
    padding-top: 0px;
}
.filters-container {
    border: 0px;
}
.filter-table {
    overflow: scroll;
    max-height: 200px;;
    padding: 0px;
}
.filter-table-first-level {
    border: 0px !important;
}
.generate-to-csv {
	float: right;
    max-width: 60px;
}
.per-page {
    max-width: 42px;
}
.results-search {
    max-width: 300px;
    text-align: center;
}
.open-close-filters-button {
    font-size: 36px;
    position: absolute;
    top: -18px;
}
.open-filters-container {
    text-align: center;
    cursor: pointer;
    position: relative;
}
.additional-filter-text {
    float: left;
    margin-top: -10px;
}
.deep-menu > li{
    width: 24%;
    margin: 0px 5px 0px 5px;
}
.pagination-container {
	text-align: center;
}
/*
html, body
{
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'sans-serif';
}
a {
	color: black;
}
a:hover {
	text-decoration: none;
	background-color: transparent;
	color: black;
}
a:active {
	text-decoration: none;
}
#body {
	height: 90%;
}
.nav.nav-tabs li a, .nav.nav-tabs li a:hover{
	background-color: transparent;
	border: 0px;
}
.nav.nav-tabs {
	border: 0px;
	background-color: #fafafa;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	vertical-align: bottom;
	padding-top: 10px;
}
.nav.nav-tabs h1{
	margin: 0px 10px;
	height: 40px;
	padding-bottom: 10px;
}
.nav.nav-tabs h1 img {
	margin-top: -20px;
}
.nav.nav-tabs li.menu{
	background-color: rgba(255, 200, 0, 1);
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	margin: 0px 3px;
}
.nav.nav-tabs li.nav-active{
	background-color: rgba(255, 225, 130, 1);
	color: black;
}
.nav.nav-tabs h1 a{
	color: #ffcc00;
}
.panel-body {
	padding: 0px;
}
#header {
	border: 0px;
	height: 60px;
}
.navbar-submenu {
	background-color: #FEF9E5;
	height:30px;
}
.scrooge-submenu {
	display: inline-block;
	text-align: center;
	height: 30px;
	vertical-align: middle;
    max-width: 100px;
}
.submenu a{
	height: 30px;
	padding: 5px 20px;
    max-width: 100px;
}
.left-menu {
	min-height: 100px;
	width: 100%;
	background-color: rgba(255, 200, 0, 0.1);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 30px 40px;
	border: 0px;
}
.left-menu-container {
	background-color: #ffffff;
	min-height: 100%;
	padding: 30px 40px;
}
.content {
	background-color: #fafafa;
	border-left: 1px solid #dfdfdf;
	min-height: 100%;
}
.body-container {
	height: 100%;
	min-height: 100%;
}
.left-menu-plus-icon {
	display: inline-block;
	float: left;
	cursor: pointer;
}
.left-menu li {
	display: table;
}
.nav-env a {
	padding: 0px 10px !important;
}
.datepicker {
	background-color: #FEF9E5;
	width: 100%;
	margin: 0 auto;
	padding: 10px 0px;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	border: 1px solid rgba(255, 200, 0, 0.4);
	border-top: 0px;
}
.panel-datepicker {
	margin: 10px 30px;
	text-align: center;
	border: 0px;
}
.panel-datepicker-heading {
	text-align: center;
}
.panel-datepicker-footer {
	text-align: center;
	padding: 10px 20px;
}
.panel-datepicker-footer .col-md-1 {
	max-width: 40px;
}
.panel {
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
}
.data-content {
	background-color: #FEF9E5;
	width: 95%;
	margin: 20px auto;
	border: 0px;
	padding: 15px;
}
.filters-container {
	padding: 0px 20px;
	background-color: #efe1ba;
	border: 1px solid rgba(150, 150, 100, 0.4);
	border-left: 0px;
	border-right: 0px;
}
.filter-models h4 {
	color: gray;
	border-bottom: 1px solid gray;
}
.pagination-container {
	text-align: center;
}
.footer {
	background-color: #ffffff;
	text-align: center;
	padding-top: 10px;
}
.footer p {
	display: inline-block;
	text-align: center;
}
.footer .version{
	margin-left: 20px;
	float: left;
	color: rgba(200, 200, 200, 1);
}
.footer a {
	color: #ffcc00;
}
#generate-to-csv {
	float: right;
}

*/
