html, body {
    font-family: 'Lato', sans-serif;
    height:100%;
}
.body-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
input:focus {
     outline: none;
}
a {
    cursor: pointer;
}
.btn:active,
.btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.brand a:hover {
    text-decoration: none;
}
.nav .brand {
    font-size: 20px;
    color: #777;
    padding: 13px 20px 13px;
    line-height: 2em;
}
.nav-tabs > li {
    margin-bottom: 0;
}
.nav-tabs > li > a {
    border-radius: 0;
}
.nav.nav-main {
    background-color: #fff;
    position: fixed;
    z-index: 100;
    width: 100%;
}
.nav.nav-main .active a {
    cursor: pointer;
    background-color: #3c8dbc;
    color: #fff;
}
.nav.nav-tabs.nav-submenu {
    background-color: #3c8dbc;
    top:40px;
    position: fixed;
}
.nav.nav-tabs.nav-submenu li,
.nav.nav-tabs.nav-submenu li a,
.nav.nav-tabs.nav-submenu li.active a {
    border: 0;
    background-color: transparent;
    color: #fff;
}
.nav.nav-tabs.nav-allocation-tabs li a {
    color: #555;
    border-radius: 8px 8px 0 0;
}
.nav.nav-tabs.nav-submenu li.active a {
    color: #fff;
    background-color: rgba(255,255,255,0.3);
}
.nav.nav-tabs.nav-allocation-tabs li.active a {
    background-color: #7A868F;
    color: #fff;
}
.value-col {
    text-align: right;
}
.value-col input {
    display: inline;
}
.value-col label {
    display: inline;
}
.value-percent-col input {
    width: 70%;
}
.value-percent-col label {
    width: 30%;
}
.value-currency-col input {
    width: 85%;
}
.value-currency-col label {
    width: 15%;
}
.action-col {
    text-align: center;
}
.action-col button {
    border-radius: 4px;
    min-width: 35px;
}
.table {
    border-bottom: 0px;
}
.table .ng-scope td {
    border: 0px;
}
.sidebar .nav.nav-tabs.teams-menu ul {
    margin-top:10px;
}
.sidebar .nav.nav-tabs.teams-menu li {
    background: transparent;
}
.sidebar .nav.nav-tabs.teams-menu .active a {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #f39c12;
}
.sidebar
{
    position: fixed;
    top: 80px;
    bottom: 30px;
    overflow-y: scroll;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f4f4f4;
    color: #000;
    -webkit-box-shadow: inset -2px 0px 8px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset -2px 0px 6px -3px rgba(0, 0, 0, 0.3);
    box-shadow: inset -2px 0px 6px -3px rgba(0, 0, 0, 0.3), inset 0px 3px 8px -4px rgba(0, 0, 0, 0.3);
}
.sidebar .search {
    margin: 10px 0;
}
.sidebar .search input {
    width: 100%;
    box-sizing: border-box;
    padding:5px 10px;
    border: 1px solid #ccc;
    border-left: 0;
}
.sidebar .search .input-group-addon {
    background-color:#fff;
    border-radius: 0;
    padding-right:3px;
}
.sidebar .items ul,
.sidebar .items ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar .items ul li a {
    display: block;
    position: relative;
    color: #555;
}
.sidebar .items ul li a:hover {
    text-decoration: none;
}
.sidebar .items .services > li > a:after {
    font-family: 'FontAwesome';
    content: "\f104";
    position: absolute;
    right:0;
    transition: all .5s ease;
}
.sidebar .items .services > li.active > a:after {
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.sidebar .items .services li {
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
}
.sidebar .items .services .envs li {
    padding: 3px 15px;
    border-bottom: none;
}
.sidebar .items .services .envs .active {
    background-color: rgba(0,0,0,0.1);
}
.sidebar .items .services .active {
    background-color: rgba(255,255,255, 1);
}
.sidebar .items .services .envs a{
}
.sidebar .items .services .active .envs a{
}
.sidebar .items .services .envs li {
}
.sidebar .items .services .envs {
    overflow: hidden;
    max-height: 0;
    transition: all 1s ease;
}
.sidebar .items .services .active .envs {
    max-height: 500px;
}

.content {
    padding-top: 80px;
}
.content .title {
    box-shadow: inset 0px -2px 5px -3px rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
}
.content .title h1,
.content .title h2 {
    display: inline;
}
.content .title h1 {
    font-size: 30px;
}
.content .title h2 {
    margin-left: 10px;
    font-size: 20px;
    color: #555;
}
.content .data {
    padding-top: 10px;
}
.content .date-choice .row {
    margin-bottom: 5px;
}
.content .categories {
    display: table;
    table-layout: fixed;
    color: #fff;
    width: 100%;
}
.content .categories .category {
    display: table-cell;
    opacity: 0.4;
}
.content .categories .category.active,
.content .categories .category:hover {
    opacity: 1;
    cursor: pointer;
}
.content .categories .category .wrapper{
    margin-right: 10px;
    position: relative;
}
.content .categories .category:last-child .wrapper {
    margin-right: 0;
}
.content .categories .category .name {
    padding: 10px 10px 0 10px;
    font-size: 25px;
}
.content .categories .category .value {
    padding: 0 10px 0 0;
    text-align: right;
    font-size: 30px;
}
.content .categories .category .link {
    text-align: center;
    padding: 5px;
    background: rgba(0, 0, 0, 0.1);
}
.content .categories .category .link:hover {
    background: rgba(0, 0, 0, 0.2);
}

.content .categories .category .fa {
    position: absolute;
    font-size: 75px;
    top: 10px;
    right: 45px;
    color: rgba(255, 255, 255, 0.2);
}

.content .relative-container {
    position: relative;
}

.content .relative-container .animate-table.ng-hide.ng-hide-add
{
    opacity: 0;
}
.content .relative-container .animate-table.ng-hide.ng-hide-remove
{
    opacity: 1;
}
.content .relative-container .animate-table.ng-hide.ng-hide-add,
.content .relative-container .animate-table.ng-hide.ng-hide-remove {
}
.content .relative-container .animate-table {
    width: 100%;
    opacity: 1;
    transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}

.footer {
    background-color: white;
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    padding: 5px;
    margin-top: 100px;
    -webkit-box-shadow: inset 0px 3px 8px -4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 3px 8px -4px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 3px 8px -4px rgba(0, 0, 0, 0.5);
}
.footer ul {
    margin:0;
}
.footer .pull-right {
    text-align: right;
}
.footer .pull-right a .fa-bug {
    transition: .25s ease all;
    -moz-transition: .25s ease all;
    -webkit-transition: .25s ease all;
}
.footer .pull-right a:hover {
    text-decoration: none;
}
.footer .pull-right a:hover .fa-bug {
    color: red;
    transform: translateX(-5px) rotate(90deg);
    -moz-transform:  translateX(-5px) rotate(90deg);
    -webkit-transform: translateX(-5px) rotate(90deg);
}

/*Animations*/
.opacity-animation {
    transition: .25s ease all;
   -moz-transition: .25s ease all;
   -webkit-transition: .25s ease all;
}

div.blocked {
    opacity: 0.5;
}

.blocked a {
    cursor: default;
}

.category.ng-enter,
.category.ng-leave,
.animate-table.ng-enter,
.animate-table.ng-leave
{
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.animate-table.ng-hide-add,
.animate-table.ng-hide-remove
{
    position: absolute;
}

.animate-table {
    position: relative;
    width: 100%;
}

.total-cost {
    font-weight: bold;
}

.content-container {
    padding-bottom: 45px;
    margin-top: 10px;
}

.breadcrumbs-container {
    padding-top: 10px;
}

.date-choice {
    padding: 10px 0px 20px 0px;
}
.allocation-tabs input {
    border-radius: 4px;
    text-align: right;
}
.allocation-tabs .allocation-client-table {
    width: 100%;
}
.allocation-tabs .allocation-client-table tr td {
    padding: 1px;
}
.allocation-tabs .allocation-client-table tr:nth-last-child(2) td {
    padding-bottom: 8px;
}
.allocation-tabs .allocation-client-table tr:last-child td {
    padding-top: 8px;
}
.allocation-tabs .allocation-client-table thead tr th {
    border-top: 1px;
    vertical-align: middle;
    text-align: center;
}
.allocation-tabs .allocation-client-table tr:first-child td {
    padding-top: 8px;
}
.allocation-tabs .allocation-client-table tr:nth-last-child(2) td.total {
    margin: auto;
    font-size: 18px;
    text-align: right;
    vertical-align: bottom;
}
.allocation-tabs .allocation-client-table tr:nth-last-child(2) td.total div {
    padding-left: 9px;
    display: inline;
}
.green {
    color: green;
}
.red {
    color: red;
}
.table tbody tr td.tab-error {
    background-color: #ffcccc;
    border-radius: 4px;
    color: #aa0000;
}
.table tbody tr td.tab-error div {
    padding-left: 2px;
    text-align: center;
}
.date-tabs {
    margin-bottom: 10px;
}
.date-tabs .tab {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0 10px;
    clear: both;
    overflow: hidden;
}
.date-tabs .tab li {
    float: left;
}
.date-tabs .tab .message,
.date-tabs .tab li a {
    display: block;
    padding: 6px 8px;
    margin-top: 8px;
    color: #fff;
}
.date-tabs .tab li.active {
    border-top: none;
}
.date-tabs .tab.years a {
    color: #9CCC65;
}
.date-tabs .tab li a:hover,
.date-tabs .tab li.active a {
    color: #004E36;
}
.date-tabs .tab.months,
.date-tabs .tab.years li.active a {
    background: #9CCC65;
}
.date-tabs.monthly .tab.months,
.date-tabs.monthly .tab.years li.active a {
    background: #7CB342;
}

.date-tabs.monthly .tab.days,
.date-tabs.monthly .tab.months li.active a {
    background: #fff;
}
.date-tabs .tab.days,
.date-tabs .tab.months li.active a {
    background: #7CB342;
}
.date-tabs .tab.days li.active a {
    background: #fff;
}
.date-tabs .tab li a:hover {
    text-decoration: none;
}

.tab-extra-costs-admin, .tab-base-usage-admin {
    width: 100%;
}

.tab-extra-costs-admin h2{
    font-size: 24px;
}

.allocation-admin-total {
    text-align: right;
}

.table th {
    text-align: center;
}
.tab-extra-costs-admin .currency {
    display: inline;
}

.tab-base-usage-admin .allocation-admin-total div {
    display: inline;
}

.base-usage-row div {
    display: inline;
    margin-left: 10px;
}

.tab-save-button {
    float: right;
}

.costcard-error-message {
    text-align: center;
    font-size: 18px;
    color: #aa0000;
}

.costcard-error-message p {
    margin-top: 10px;
}