*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


# Documentation
/doc/_build/

node_modules/
typings/
src/ralph_scrooge/media/scrooge/dist/
src/ralph_scrooge/media/scrooge/lib/
src/ralph_scrooge/settings/local.py
scrooge.log
