language: python
services: redis
cache:
  directories:
  - $HOME/virtualenv/
before_cache:
  - pip uninstall Django -y
env:
  matrix:
    - DJANGO_VERSION=1.10.2 TEST_DATABASE_ENGINE=mysql
    - DJANGO_VERSION=1.10.2 TEST_DATABASE_ENGINE=sqlite
    - DJANGO_VERSION=1.10.2 TEST_DATABASE_ENGINE=postgres
matrix:
  allow_failures:
    - env: DJANGO_VERSION=1.10.2 TEST_DATABASE_ENGINE=postgres

python:
  - "2.7"
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - if [[ $TEST_DATABASE_ENGINE == postgres ]]; then pip install -q psycopg2 --use-mirrors; fi
  - pip install coveralls
  - pip install -e . --use-mirrors
before_install:
  - pip install flake8 --use-mirrors
  - make flake
before_script:
  - mysql -e 'CREATE DATABASE ralph_test CHARACTER SET utf8 COLLATE utf8_general_ci;' -uroot
  - psql -c 'create database ralph_test;' -U postgres
# command to run tests, e.g. python setup.py test
script:
  make test-with-coveralls
after_success:
  coveralls
