include README.rst CHANGES.rst LICENSE NOTICE
recursive-include doc *.py *.rst *.txt *.html *.css *.js *.png *.git *.jpg *.conf *.bat *.pdf *.docx *.otf *.eot *.svg *.woff *.ttf *.gif Makefile
recursive-include src/ralph_scrooge/templates *
recursive-include src/ralph_scrooge/tests *
recursive-include src/ralph_scrooge/fixtures *
recursive-include src/ralph_scrooge/static/scrooge/css *
recursive-include src/ralph_scrooge/static/scrooge/js *
recursive-include src/ralph_scrooge/static/scrooge/js/angular *
recursive-include src/ralph_scrooge/static/scrooge/js/bootstrap *
recursive-include src/ralph_scrooge/static/scrooge/fonts *
recursive-include src/ralph_scrooge/static/scrooge/app *
recursive-include src/ralph_scrooge/static/scrooge/app/controllers *
recursive-include src/ralph_scrooge/static/scrooge/app/directives *
recursive-include src/ralph_scrooge/static/scrooge/app/services *
recursive-include src/ralph_scrooge/static/scrooge/img *
recursive-include src/ralph_scrooge/static/scrooge/partials *
prune doc/_build
