<div class="row">
  <menuservicedirective ng-if="stats.menuReady"></menuservicedirective>
  <div class="content col-xs-12 col-md-10">

  <div ng-include="'/static/scrooge/partials/breadcrumbs.html'"></div>
    <div class="row data">
      <div class="col-xs-12 col-md-12">
        <menucalendardirective></menucalendardirective>
      </div>
      <div class="col-xs-12">
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-xs-height body-container">
    <div class="col-xs-2 left-menu-container col-xs-height col-bottom">
      <div class="navbar-default sidebar-navbar-default" role="navigation">
      </div>
    </div>
    <div class="col-xs-10 content">
        <div class="col-xs-12 calendar" ng-controler="calendarCtrl">
          <menucalendardirective></menucalendardirective>
        </div>
        <div>
          <div ng-show="stats.currentMenu == 'service'">
            <ul class="nav nav-tabs allocation-tabs" role="tablist">
              <li ng-show="!stats.allocationclient.serviceDivision.disabled" ng-click="stats.changeTab('allocate_costs')" class="{{stats.menuStats.tab.current == 'allocate_costs' ? 'active': ''}}"><a>Allocate Costs</a></li>
              <li ng-click="stats.changeTab('extra_costs')" class="{{stats.menuStats.tab.current == 'extra_costs' ? 'active': ''}}"><a>Extra Costs</a></li>
            </ul>
            <div ng-show="stats.currentTab == 'allocate_costs' && !stats.allocationclient.serviceDivision.disabled" class="allocate-costs-tab">
              <table class="table">
                <tr>
                  <td></td>
                  <td></td>
                  <td>{{stats.allocationclient.serviceDivision.total}}%</td>
                  <td><button ng-click="addRow(stats.allocationclient.serviceDivision.rows)" type="button" class="btn btn-success">+</button></td>
                </tr>
                <tr ng-repeat="row in stats.allocationclient.serviceDivision.rows">
                  <td>
                    <select ng-model="row.service" class="form-control" ng-options="service.id as service.name for service in stats.menus['service']">
                    </select>
                  </td>
                  <td>
                    <select ng-model="row.env" class="form-control" ng-options="env.id as env.name for env in stats.getEnvs(row.service)">
                    </select>
                  </td>
                  <td>
                    <input ng-model="row.value" ng-change="updateTotal('serviceDivision')" type="text" class="form-control" value="{{row.value}}">
                  </td>
                  <td><button ng-click="removeRow($index, stats.allocationclient.serviceDivision.rows)" type="button" class="btn btn-danger">-</button></td>
                </tr>
              </table>
              <div>
                <button ng-click="stats.saveAllocation('serviceDivision')">Save</button>
              </div>
            </div>
            <div ng-show="stats.currentTab == 'extra_costs'" class="extra-coststab">
              <table class="table">
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><button ng-click="addRow(stats.allocationclient.serviceExtraCost.rows)" type="button" class="btn btn-success">+</button></td>
                </tr>
                <tr ng-repeat="row in stats.allocationclient.serviceExtraCost.rows">
                  <td>
                    <select ng-model="row.type" class="form-control" ng-options="extraCostType.id as extraCostType.name for extraCostType in stats.allocationclient.serviceExtraCostTypes">
                    </select>
                  </td>
                  <td>
                    <input ng-model="row.value" type="text" class="form-control">
                  </td>
                  <td>
                    <input ng-model="row.remarks" type="text" class="form-control">
                  </td>
                  <td><button ng-click="removeRow($index, stats.allocationclient.serviceExtraCost.rows)" type="button" class="btn btn-danger">-</button></td>
                </tr>
              </table>
              <button ng-click="stats.saveAllocation('serviceExtraCost')">Save</button>
            </div>
          </div>
          <div ng-show="stats.currentMenu == 'teams'">
            <table class="table">
              <tr>
                <td></td>
                <td></td>
                <td>{{stats.allocationclient.teamDivision.total}}%</td>
                <td><button ng-click="addRow(stats.allocationclient.teamDivision.rows)" type="button" class="btn btn-success">+</button></td>
              </tr>
              <tr ng-repeat="row in stats.allocationclient.teamDivision.rows">
                <td>
                    <select ng-model="row.service" class="form-control" ng-options="service.id as service.name for service in stats.menus['service']">
                    </select>
                </td>
                <td>
                    <select ng-model="row.env" class="form-control" ng-options="env.id as env.name for env in stats.getEnvs(row.service)">
                    </select>
                </td>
                <td>
                  <input ng-model="row.value" ng-change="updateTotal('teamDivision')" type="text" class="form-control">
                </td>
                <td><button ng-click="removeRow($index, stats.allocationclient.teamDivision.rows)" type="button" class="btn btn-danger">-</button></td>
              </tr>
            </table>
            <div>
              <button ng-click="stats.saveAllocation('teamDivision')">Save</button>
            </div>
          </div>
      </div>
    </div>
</div>
 -->
