<div id="table-costcard" class="animate-table" ng-repeat="forceRefresh in forceRefreshDomElement">
  <table data-toggle="table" data="{{stats.costcard.content}}" data-row-style="rowStyle">
    <thead>
      <tr>
        <th data-field="name" data-sortable="true">Usage name</th>
        <th data-field="cost" data-sortable="true" data-formatter="costFormatter">Cost</th>
      </tr>
    </thead>
  </table>
  <script>
      function costFormatter(value, row) {
        return value + ' PLN';
      }
      function rowStyle(row, index) {
        if (row.name == 'Total') {
          return {classes: 'total-cost'};
        }
        return {};
      }
  </script>
</div>
