<table class="allocation-client-table">
  <thead>
    <tr>
      <th>Cost description</th>
      <th>Cost (PLN)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in stats.currentTabs.serviceExtraCost.rows">
      <td>
        <input ng-model="row.remarks" type="text" class="form-control" value="{{row.remarks}}">
      </td>
      <td class="value-col value-currency-col" ng-class="row.errors.value ? 'tab-error' : ''">
        <input ng-model="row.value" type="text" class="form-control" value="{{row.value}}" id="{{row.id}}">
        <label> PLN</label>
        <div>{{row.errors.value}}</div>
      </td>
      <td class="action-col">
        <button ng-click="removeRow($index, stats.currentTabs.serviceExtraCost.rows)" type="button" class="btn btn-danger">-</button>
      </td>
    </tr>
    <tr class="additional-row-header">
      <td></td>
      <td class="col-xs-3 total">
        {{getTotal('serviceExtraCost')}}
        <div>PLN</div>
      </td>
      <td class="col-xs-1 action-col">
        <button ng-click="addRow(stats.currentTabs.serviceExtraCost.rows)" type="button" class="btn btn-success">+</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td class="action-col"><button ng-click="stats.saveAllocation('serviceExtraCost')" class="btn btn-success allocation-save">Save</button></td>
    </tr>
  </tbody>
</table>
