<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ralph Scrooge</title>
    <link rel="stylesheet" href="{% static 'scrooge/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'scrooge/css/scrooge.css' %}" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="alert alert-info" role="alert">Your response has been recorded.</div>
  </body>
</html>
