{% extends 'ui/base.html' %}
{% load bob icons staticfiles %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'scrooge/css/scrooge.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'assets/js/split.js' %}"></script>
    <script type="text/javascript" src="{% static 'scrooge/js/table_fixed_header.js' %}"></script>
    <script type="text/javascript" src="{% static 'scrooge/js/scrooge.js' %}"></script>
{% endblock %}

{% block contentarea %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block sidebar %}
    {% if sidebar_items %}
        {% sidebar_menu sidebar_items sidebar_selected %}
    {% endif %}
    {% block sidebar_search %}
    {% endblock %}
{% endblock %}
