<!DOCTYPE html>
{% load colors_tags %}
{% load url from future %}
{% load i18n bob staticfiles %}
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Ralph Scrooge | {% block title %}{% block titlesection %}{{ active_menu.module.label }}{% block titlesubsection %}{% endblock %} - {{ active_submodule|title }}{% endblock %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'scrooge/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'scrooge/css/datepicker3.css' %}" />
        <link rel="stylesheet" href="{% static 'scrooge/css/bootstrap-table.css' %}" />
        <link rel="stylesheet" href="{% static 'scrooge/css/scrooge.css' %}" />
        <link rel="stylesheet" href="{% static 'scrooge/css/loading-bar.css' %}" />
        <link rel="stylesheet" href="{% static 'scrooge/css/font-awesome.css' %}" />
        <link rel="stylesheet" href="{% static 'scrooge/css/ng-scrollbar.css' %}" />
        <!-- <link rel="stylesheet" href="{% static 'scrooge/css/multiple-select.css' %}" /> -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
         <!-- External scripts -->
        {% panels_colors %}
        <script src="{% static 'scrooge/js/jquery.min.js' %}"></script>
        <script src="{% static 'scrooge/js/jquery.multiple.select.js' %}"></script>
        <script src="{% static 'scrooge/js/angular/angular.js' %}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.17/angular-animate.js"></script>
        <script src="{% static 'scrooge/js/angular/angular-resource.js' %}"></script>
        <script src="{% static 'scrooge/js/angular/angular-route.js' %}"></script>
        <script src="{% static 'scrooge/js/angular/angular-cookies.js' %}"></script>
        <script src="{% static 'scrooge/js/loading-bar.js' %}"></script>
        <script src="{% static 'scrooge/js/ng-scrollbar.js' %}"></script>
        <script src="{% static 'scrooge/js/ui-bootstrap-tpls-0.10.0.min.js' %}"></script>
        <script src="{% static 'scrooge/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'scrooge/js/bootstrap-table.js' %}"></script>
        <script src="{% static 'scrooge/js/bootstrap-datepicker.js' %}"></script>
        <script src="{% static 'scrooge/js/raven.min.js' %}"></script>
        <script src="{% static 'scrooge/js/scrooge.js' %}"></script>
        <!-- Angular scripts -->
        <script src="{% static 'scrooge/app/app.js' %}"></script>
        <script src="{% static 'scrooge/app/common/controller.js' %}"></script>
        <script src="{% static 'scrooge/app/common/directive.js' %}"></script>
        <script src="{% static 'scrooge/app/common/filter.js' %}"></script>
        <script src="{% static 'scrooge/app/common/service.js' %}"></script>
        <script src="{% static 'scrooge/app/menu/controller.js' %}"></script>
        <script src="{% static 'scrooge/app/menu/directive.js' %}"></script>
        <script src="{% static 'scrooge/app/menu/filter.js' %}"></script>
        <script src="{% static 'scrooge/app/menu/service.js' %}"></script>
        <script src="{% static 'scrooge/app/component/controller.js' %}"></script>
        <script src="{% static 'scrooge/app/cost/controller.js' %}"></script>
        <script src="{% static 'scrooge/app/costcard/controller.js' %}"></script>
        <script src="{% static 'scrooge/app/allocationclient/controller.js' %}"></script>
        <script src="{% static 'scrooge/app/allocationadmin/controller.js' %}"></script>
    </head>
    <body ng-controller="mainCtrl">
        <div class="body-wrapper">
            <div class="container-fluid">
                <nav class="row">
                    {% block header %}
                        {% main_menu_bs3fake main_menu active_module position='fixed' white="true" title='Ralph 2' %}
                    {% endblock %}
                    {{ view }}
                    <sub-menu></sub-menu>
                </nav>
            </div>
            <div class="container-fluid container-fluid-main">
                <div class="row row-main" style="position:relative;">
                  <menuservicedirective ng-if="stats.menuReady"></menuservicedirective>
                  <div class="content col-xs-12" ng-class="stats.currentSubMenu.leftMenu.length > 0 ? 'col-md-offset-2 col-md-10':''">
                    <div class="breadcrumbs-container" ng-include="'/static/scrooge/partials/breadcrumbs.html'"></div>
                    <div class="row data">
                      <div class="col-xs-12 col-md-12">
                        <div ng-controller="menuStatsAdapterCtrl">
                            <sc-calendar
                                view="stats.currentSubMenu.calendarMenu"
                                selected="date"
                                start-date="startDate"
                                end-date="endDate"
                            >
                            </sc-calendar>
                            <sc-datepicker
                                ng-show="stats.currentSubMenu.calendarMenu == 'range'"
                                range
                                autoclose
                                selected="date"
                            >
                            </sc-datepicker>
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-12 animate-show loading-bar-spinner-container content-container">
                        <ng-view></ng-view>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <footer class="footer">
                <div class="row">
                    <ul class="col-md-8 list-inline pull-left">
                        <li>Ralph {{ VERSION }}</li>
                        <li><a href="{{ CHANGELOG_URL }}">{% trans 'Changes' %}</a></li>
                    </ul>
                    <ul class="col-md-4 list-inline pull-right">
                        <li>
                            <a href="{{ BUGTRACKER_URL }}">
                                <i class="fa fa-bug"></i> {% trans 'Report a bug' %}
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
</html>
<!--STATS-->
