<!DOCTYPE html>
{% load colors_tags %}
{% load url from future %}
{% load i18n bob %}
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Ralph Scrooge | {% block title %}{% block titlesection %}{{ active_menu.module.label }}{% block titlesubsection %}{% endblock %} - {{ active_submodule|title }}{% endblock %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}scrooge/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}scrooge/css/bootstrap-table.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}scrooge/css/scrooge.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}scrooge/css/loading-bar.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}scrooge/css/font-awesome.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}scrooge/css/ng-scrollbar.css" />
        <!-- <link rel="stylesheet" href="{{ STATIC_URL }}scrooge/css/multiple-select.css" /> -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        {% panels_colors %}
        <script src="{{ STATIC_URL }}scrooge/js/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}scrooge/js/jquery.multiple.select.js"></script>
        <script src="{{ STATIC_URL }}scrooge/js/angular/angular.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.17/angular-animate.js"></script>
        <script src="{{ STATIC_URL }}scrooge/js/angular/angular-resource.js"></script>
        <script src="{{ STATIC_URL }}scrooge/js/angular/angular-route.js"></script>
        <script src="{{ STATIC_URL }}scrooge/js/angular/angular-cookies.js"></script>
        <script src="{{ STATIC_URL }}scrooge/js/angular/angular-animate.min.js"></script>
        <script src="{{ STATIC_URL }}scrooge/js/loading-bar.js"></script>
        <script src="{{ STATIC_URL }}scrooge/js/ng-scrollbar.js"></script>
        <script src="{{ STATIC_URL }}scrooge/js/ui-bootstrap-tpls-0.10.0.min.js"></script>
        <script src="{{ STATIC_URL }}scrooge/js/bootstrap-table.js"></script>
        <script src="{{ STATIC_URL }}scrooge/js/raven.min.js"></script>
        <script src="{{ STATIC_URL }}scrooge/js/scrooge.js"></script>
        <script src="{{ STATIC_URL }}scrooge/app/app.js"></script>
        <script src="{{ STATIC_URL }}scrooge/app/controllers.js"></script>
        <script src="{{ STATIC_URL }}scrooge/app/directives.js"></script>
        <script src="{{ STATIC_URL }}scrooge/app/filters.js"></script>
        <script src="{{ STATIC_URL }}scrooge/app/services.js"></script>
        <script src="{{ STATIC_URL }}scrooge/app/controllers/menu.js"></script>
        <script src="{{ STATIC_URL }}scrooge/app/directives/menu.js"></script>
        <script src="{{ STATIC_URL }}scrooge/app/services/menu.js"></script>
    </head>
    <body ng-controller="mainCtrl">
        <div class="body-wrapper">
            <div class="container-fluid">
                <nav class="row">
                    {% block header %}
                        {% main_menu_bs3fake main_menu active_module position='fixed' white="true" title='Ralph 2' %}
                    {% endblock %}
                    {{ view }}
                    <sub-menu></sub-menu>
                </nav>
            </div>
            <div class="container-fluid container-fluid-main">
                <ng-view></ng-view>
            </div>
            <footer class="footer">
                <div class="row">
                    <ul class="col-md-8 list-inline pull-left">
                        <li>Ralph {{ VERSION }}</li>
                        <li><a href="{{ CHANGELOG_URL }}">{% trans 'Changes' %}</a></li>
                    </ul>
                    <ul class="col-md-4 list-inline pull-right">
                        <li>
                            <a href="{{ BUGTRACKER_URL }}">
                                <i class="fa fa-bug"></i> {% trans 'Report a bug' %}
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
</html>
<!--STATS-->
