{% load joinby %}
{% load percentage %}
{% load sort %}

{% spaceless %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <p>Hi {{ recipient.first_name }} {{recipient.last_name }},</p>

    <p>We have detected anomalies in your usages - see below for the details.
    Please fix them ASAP.</p>

    {% if missing_values %}
    <p>Missing usage type values for the following days:</p>

    <table style="border: 1px solid black; border-collapse: collapse">
      <tr>
        <th style="border: 1px solid black; padding: 5px">Date</th>
        <th style="border: 1px solid black; padding: 5px">Usage Type(s)</th>
      </tr>
      {% for date_, usage_types in missing_values.items %}
      <tr>
        <td style="border: 1px solid black; padding: 5px">{{ date_|date:"Y-m-d" }}</td>
        <td style="border: 1px solid black; padding: 5px">
          {{ usage_types|sort|joinby:", " }}
        </td>
      </tr>
      {% endfor %}
    </table>

    {% endif %}

    {% if unusual_changes %}
    <p>Unusually big changes in values between the following days:</p>

    <table style="border: 1px solid black; border-collapse: collapse">
      <tr>
        <th style="border: 1px solid black; padding: 5px">Date 1</th>
        <th style="border: 1px solid black; padding: 5px">Date 2</th>
        <th style="border: 1px solid black; padding: 5px">Usage Type</th>
        <th style="border: 1px solid black; padding: 5px">Value 1</th>
        <th style="border: 1px solid black; padding: 5px">Value 2</th>
        <th style="border: 1px solid black; padding: 5px">Relative Change</th>
        <th style="border-top-style:hidden; border-right-style:hidden"></th>
      </tr>
      {% for ch in unusual_changes %}
      <tr>
        <td style="border: 1px solid black; padding: 5px">{{ ch.0|date:"Y-m-d" }}</td>
        <td style="border: 1px solid black; padding: 5px">{{ ch.1|date:"Y-m-d" }}</td>
        <td style="border: 1px solid black; padding: 5px">{{ ch.2.name }}</td>
        <td style="border: 1px solid black; padding: 5px; text-align: right">
          {{ ch.3|floatformat:2 }}
        </td>
        <td style="border: 1px solid black; padding: 5px; text-align: right">
          {{ ch.4|floatformat:2 }}
        </td>
        <td style="border: 1px solid black; padding: 5px; text-align: right">
          {{ ch.5|percentage:"dec=2&sign=true" }}
        </td>
        <td style="border: 1px solid black; padding: 5px; text-align: right">
          <a href="{{ base_mail_url }}{% url 'anomalies_ack' ut_id=ch.2.id date=ch.0|date:'Y-m-d' %}">
            Acknowledge
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>

    <p>In case you'd find any false positives in the table above (or just
      anomalies that you are aware of), you can acknowledge each one of them, so
      they won't be reported to anybody anymore (this includes other owners of
      given Usage Type as well).
    </p>

    <p>Or alternatively, if you find yourself in a situation, where you have to
      acknowledge such anomalies too often, you may request change of the
      "Change Tolerance" param in Scrooge's admin panel (requires admin
      privileges).
    </p>

    {% endif %}

    {% if reply_to_address %}
    <p>Please note: This e-mail was sent from a notification-only address that
      can't accept incoming e-mail. If you want to contact us, please send an
      e-mail to {{ reply_to_address }} instead. Thanks!
    </p>
    {% endif %}

    <p>Regards,<br>Scrooge Team</p>

  </body>
</html>
{% endspaceless %}
