<div class="row">
  <menuservicedirective ng-if="stats.menuReady"></menuservicedirective>
  <div class="content col-xs-12 col-md-10">
    <div class="row">
      <div class="title col-xs-12 col-md-12">
        <h1>Components</h1>
        <h2>Allegro</h2>
      </div>
    </div>
    <div class="row data">
      <div class="row">
        <menucalendardirective></menucalendardirective>
      </div>
      <div class="col-xs-12">
        <div ng-show="stats.components.contentStats.table == data.name" id="table_{{$index}}" ng-repeat="data in content">
        <table data-toggle="table" data="currentData['value']" data-pagination="true" data-search="true" data-show-toggle="true">
          <thead>
            <tr>
              <th data-field="{{val}}" data-sortable="true" ng-repeat="(cell, val) in data.schema">{{val}}</th>
            </tr>
          </thead>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container-xs-height body-container">
    <div class="col-xs-2 left-menu-container col-xs-height col-bottom">
      <div class="navbar-default sidebar-navbar-default" role="navigation">
      </div>
    </div>
    <div class="col-xs-10 content">
        <div class="col-xs-12 calendar" ng-controler="calendarCtrl">
          <menucalendardirective></menucalendardirective>
        </div>
        <div>
          <div ng-show="stats.currentMenu == 'service'">
            <ul class="nav nav-tabs allocation-tabs" role="tablist">
              <li ng-show="!stats.allocationclient.serviceDivision.disabled" ng-click="stats.changeTab('allocate_costs')" class="{{stats.menuStats.tab.current == 'allocate_costs' ? 'active': ''}}"><a>Allocate Costs</a></li>
              <li ng-click="stats.changeTab('extra_costs')" class="{{stats.menuStats.tab.current == 'extra_costs' ? 'active': ''}}"><a>Extra Costs</a></li>
            </ul>
            <div ng-show="stats.currentTab == 'allocate_costs' && !stats.allocationclient.serviceDivision.disabled" class="allocate-costs-tab">
              <table class="table">
                <tr>
                  <td></td>
                  <td></td>
                  <td>{{stats.allocationclient.serviceDivision.total}}%</td>
                  <td><button ng-click="addRow(stats.allocationclient.serviceDivision.rows)" type="button" class="btn btn-success">+</button></td>
                </tr>
                <tr ng-repeat="row in stats.allocationclient.serviceDivision.rows">
                  <td>
                    <select ng-model="row.service" class="form-control">
                      <option ng-repeat="service in stats.menus['service']">{{service.service}}</option>
                    </select>
                  </td>
                  <td>
                    <select ng-model="row.env" class="form-control">
                      <option ng-repeat="env in stats.getEnvs(row.service)">{{env.env}}</option>
                    </select>
                  </td>
                  <td>
                    <input ng-model="row.value" ng-change="updateTotal('serviceDivision')" type="text" class="form-control" value="{{row.value}}">
                  </td>
                  <td><button ng-click="removeRow($index, stats.allocationclient.serviceDivision.rows)" type="button" class="btn btn-danger">-</button></td>
                </tr>
              </table>
              <div>
                <button ng-click="stats.saveAllocation('serviceDivision')">Save</button>
              </div>
            </div>
            <div ng-show="stats.currentTab == 'extra_costs'" class="extra-coststab">
              <table class="table">
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><button ng-click="addRow(stats.allocationclient.serviceExtraCost.rows)" type="button" class="btn btn-success">+</button></td>
                </tr>
                <tr ng-repeat="row in stats.allocationclient.serviceExtraCost.rows">
                  <td>
                    <select ng-model="row.type" ng-change="stats.saveAllocation('serviceExtraCost')" class="form-control">
                      <option ng-repeat="extraCostType in stats.allocationclient.serviceExtraCostTypes">{{extraCostType}}</option>
                    </select>
                  </td>
                  <td>
                    <input ng-model="row.value" ng-blur="stats.saveAllocation('serviceExtraCost')" type="text" class="form-control">
                  </td>
                  <td>
                    <input ng-model="row.remarks" ng-blur="stats.saveAllocation('serviceExtraCost')" type="text" class="form-control">
                  </td>
                  <td><button ng-click="removeRow($index, stats.allocationclient.serviceExtraCost.rows)" type="button" class="btn btn-danger">-</button></td>
                </tr>
              </table>
              <button ng-click="stats.saveAllocation('serviceExtraCost')">Save</button>
            </div>
          </div>
          <div ng-show="stats.currentMenu == 'teams'">
            <table class="table">
              <tr>
                <td></td>
                <td></td>
                <td>{{stats.allocationclient.teamDivision.total}}%</td>
                <td><button ng-click="addRow(stats.allocationclient.teamDivision.rows)" type="button" class="btn btn-success">+</button></td>
              </tr>
              <tr ng-repeat="row in stats.allocationclient.teamDivision.rows">
                <td>
                  <select ng-model="row.service" class="form-control">
                      <option ng-repeat="service in stats.menus['service']">{{service.service}}</option>
                  </select>
                </td>
                <td>
                    <select ng-model="row.env" class="form-control">
                      <option ng-repeat="env in stats.getEnvs(row.service)">{{env.env}}</option>
                    </select>
                </td>
                <td>
                  <input ng-model="row.value" ng-change="updateTotal('teamDivision')" type="text" class="form-control">
                </td>
                <td><button ng-click="removeRow($index, stats.allocationclient.teamDivision.rows)" type="button" class="btn btn-danger">-</button></td>
              </tr>
            </table>
            <div>
              <button ng-click="stats.saveAllocation('teamDivision')">Save</button>
            </div>
          </div>
      </div>
    </div>
</div>
 -->
