<div class="col-md-12 date-choice">
    <div class="row" ng-show="stats.inArray('year', stats.currentSubMenu.calendarMenu)">
        <div class="col-md-12 btn-group">
            <button type="button" ng-click="menuCalendar.changeYear(year)" class="{{stats.menuStats['year']['current'] == year ? 'active' : ''}} btn-datepicker btn btn-default btn-month-scrooge" ng-repeat="year in menuCalendar.getYears()">{{year}}</button>
        </div>
    </div>
    <div class="row" ng-show="stats.inArray('month', stats.currentSubMenu.calendarMenu)">
        <div class="col-md-12 btn-group">
            <button ng-click="menuCalendar.changeMonth(month)" class="{{stats.menuStats['month']['current'] == month ? 'active' : ''}} btn-datepicker btn btn-default btn-month-scrooge" ng-repeat="month in menuCalendar.getMonths()">{{month | intToMonth}}</button>
        </div>
    </div>
    <div class="row" ng-show="stats.inArray('day', stats.currentSubMenu.calendarMenu)">
        <div class="col-md-12 btn-group">
            <button ng-click="menuCalendar.changeDay(day)" class="{{stats.menuStats['day']['current'] == day ? 'active' : ''}} btn-datepicker btn btn-default btn-day-scrooge" ng-repeat="day in menuCalendar.getDays()">{{day}}</button>
        </div>
    </div>
</div>
