<div class="container-xs-height body-container" ng-controller="cardCosts">
	<div class="col-xs-2 left-menu-container col-xs-height col-bottom">
		<div class="col-xs-height col-bottom sidebar-well well navmenu navmenu-default navmenu-fixed-left in">
            <div class="navbar-default sidebar-navbar-default" role="navigation">
                <div class="sidebar-nav navbar-collapse sidebar-nav-scrooge">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li class="active">
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i>Stash<span class="fa arrow"></span></a>
                            <ul class="active nav nav-second-level">
                                <li>
                                    <a href="">Prod</a>
                                </li>
                                <li>
                                    <a href="">Test</a>
                                </li>
                                <li>
                                    <a href="">Dev</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i>Agito<span class="fa arrow"></span></a>
                            <ul class="active nav nav-second-level collapse">
                                <li>
                                    <a href="">Test</a>
                                </li>
                                <li>
                                    <a href="">Dev</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li class="active">
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i>Allegro<span class="fa arrow"></span></a>
                            <ul class="active nav nav-second-level collapse">
                                <li>
                                    <a href="">Prod</a>
                                </li>
                                <li>
                                    <a href="">Test</a>
                                </li>
                                <li>
                                    <a href="">Dev</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
        </div>
	</div>
	<div class="col-xs-10 content">
		<div class="col-xs-12">
			<div class="datepicker">
				<div class="panel panel-default panel-datepicker panel-background">
                    <div class="bg-datepicker bg-background" ng-controller="ButtonsCtrl">
                        <div class="panel-heading panel-datepicker-heading row show-grid">
                            <div class="col-xs-13 btn_group btn-month" role="toolbar">
                                <button ng-click="selectYear('2015')" ng-model="month2015" btn-checkbox="'2015'" class="btn-datepicker btn btn-default btn-month-scrooge">2015</button>
                                <button ng-click="selectYear('2016')" ng-model="month2016" btn-checkbox="'2016'" class="btn-datepicker btn btn-default btn-month-scrooge">2016</button>
                                <button  ng-click="selectYear('2017')"ng-model="month2017" btn-checkbox="'2017'" class="btn-datepicker btn btn-default btn-month-scrooge">2017</button>
                            </div>
                            <div class="col-xs-13 btn_group btn-quarter" role="toolbar">
                                <button ng-click="selectQuarter('quarter_1')" ng-model="quarter_1" btn-checkbox="'quarter_1'" class="btn-datepicker btn btn-default btn-quarter-scrooge">Quarter 1</button>
                                <button ng-click="selectQuarter('quarter_2')" ng-model="quarter_2" btn-checkbox="'quarter_2'" class="btn-datepicker btn btn-default btn-quarter-scrooge">Quarter 2</button>
                                <button ng-click="selectQuarter('quarter_3')" ng-model="quarter_3" btn-checkbox="'quarter_3'" class="btn-datepicker btn btn-default btn-quarter-scrooge">Quarter 3</button>
                                <button ng-click="selectQuarter('quarter_4')" ng-model="quarter_4" btn-checkbox="'quarter_4'" class="btn-datepicker btn btn-default btn-quarter-scrooge">Quarter 4</button>
                            </div>
                        </div>
                    </div>
	        	</div>
	        </div>
        </div>
            <div class="col-xs-4">
            <table class="table table-hover table-costs">
              <tbody ng-repeat="cost in costs">
                <tr class="panel-costs" ng-mouseenter="overCostData(cost)" ng-mouseleave="overCostData(cost)">
                    <td class="lock-button" ng-click="lockCostData(cost)">
                        <i ng-class="cost.lock? 'locked' : ''" class="glyphicon glyphicon-lock fa-fw unlocked"></i>
                    </td>
                    <td>
                        <div class="color-mark" style="background-color: {{cost.color}}" ></div>
                    </td>
                    <td ng-click="activeCost(cost)" class="cost-type">{{cost.name}}</td>
                    <td ng-click="activeCost(cost)" class="cost-value">{{cost.price}}</td>
                </tr>
                <tr class="cost-submenu-container-active" ng-show="cost.active" ng-repeat="(year, year_value) in cost.years">
                    <td ng-show="inArray(year, choosenYears)" class="panel-cost-submenu" colspan="4">
                        <div class="sidebar-nav navbar-collapse sidebar-nav-chart-menu">
                            <ul class="nav" id="side-menu">
                                <li class="active">
                                    <div ng-click="quarterActive = !quarterActive">{{year}}</div>
                                    <ul ng-show="!quarterActive" class="nav nav-second-level">
                                        <li ng-show="inArray(quarter, choosenQuarters)" class="quarter-menu" ng-repeat="(quarter, quarter_value) in year_value">
                                            <div ng-click="monthActive = !monthActive">{{quarter}}</div>
                                            <ul class="active nav nav-second-level" ng-show="!monthActive">
                                                <li>
                                                    <table class="table table-hover table-costs">
                                                        <tr ng-repeat="(month, month_value) in quarter_value">
                                                            <td class="chart-menu-month">
                                                                {{month}}
                                                            </td>
                                                            <td class="chart-menu-month-value">
                                                                {{month_value}}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </li>
                                            <ul>
                                        </li>
                                    </ul>
                                    <!-- /.nav-second-level -->
                                </li>
                            </ul>
                        </div>
                     </td>
                </tr>
              </tbody>
            </table>
            </div>
            <div class="col-xs-8 panel-charts">
            <div class="panel panel-default panel-chart panel-background">
                <div class="bg-chart bg-background" ng-controller="ButtonsCtrl">
                    <div class="col-xs-8 charts" >
                        <costchart class="chart-width" test="currentCostData" seriescolors="currentSeriesColor"data="currentCostData" ng-model='data'></costchart>
                    </div>
                </div>
            </div>
            </div>
		</div>
		</div>
	</div>
</div>
