<div class="container-xs-height body-container" ng-controller="components">
	<div class="col-xs-2 left-menu-container col-xs-height col-bottom">
		<div class="col-xs-height col-bottom sidebar-well well navmenu navmenu-default navmenu-fixed-left in">
            <div class="navbar-default sidebar-navbar-default" role="navigation">
                <div class="sidebar-nav navbar-collapse sidebar-nav-scrooge">
                    <menuservicedirective></menuservicedirective>
                </div>
            </div>
        </div>
	</div>
	<div class="col-xs-10 content">
		<div class="col-xs-12" ng-controler="calendarCtrl">
            <menucalendardirective></menucalendardirective>
        </div>
		<div class="col-xs-12">
            <componentscontentdirective></componentscontentdirective>
		</div>
	</div>
</div>
