<div class="row body-container" ng-controller="components">
	<div class="col-xs-2 left-menu-container">
		<div class="well left-menu navmenu navmenu-default navmenu-fixed-left in">
				<ul class="nav navmenu-nav">
			        <li class="dropdown">
			            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Allegro</a>
			            <ul ng-click="preventClose($event)" class="nav nav-stacked dropdown-menu navmenu-nav dropdown-left-menu">
			                <li class="active"><a href="#"><i class="fa fa-home fa-fw"></i>Prod</a></li>
			                <li><a href=""><i class="fa fa-list-alt fa-fw"></i>Test</a></li>
			                <li><a href=""><i class="fa fa-file-o fa-fw"></i>Dev</a></li>
			            </ul>
			        </li>
			        <li class="dropdown">
			            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Agito</a>
			            <ul ng-click="preventClose($event)" class="nav nav-stacked dropdown-menu navmenu-nav dropdown-left-menu">
			                <li class="active"><a href="#"><i class="fa fa-home fa-fw"></i>Prod</a></li>
			                <li><a href=""><i class="fa fa-list-alt fa-fw"></i>Test</a></li>
			                <li><a href=""><i class="fa fa-file-o fa-fw"></i>Dev</a></li>
			            </ul>
			        </li>
			        <li class="dropdown">
			            <a href="#" class="dropdown-toggle" data-toggle="dropdown">PayU</a>
			            <ul ng-click="preventClose($event)" class="nav nav-stacked dropdown-menu navmenu-nav dropdown-left-menu">
			                <li class="active"><a href="#"><i class="fa fa-home fa-fw"></i>Prod</a></li>
			                <li><a href=""><i class="fa fa-list-alt fa-fw"></i>Test</a></li>
			                <li><a href=""><i class="fa fa-file-o fa-fw"></i>Dev</a></li>
			            </ul>
			        </li>
			        <li class="dropdown">
			            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Otomoto</a>
			            <ul ng-click="preventClose($event)" class="nav nav-stacked dropdown-menu navmenu-nav dropdown-left-menu">
			                <li class="active"><a href="#"><i class="fa fa-home fa-fw"></i>Prod</a></li>
			                <li><a href=""><i class="fa fa-list-alt fa-fw"></i>Test</a></li>
			                <li><a href=""><i class="fa fa-file-o fa-fw"></i>Dev</a></li>
			            </ul>
			        </li>
			    </ul>
      </div>
	</div>
	<div class="col-xs-10 content">
		<div class="col-xs-12">
			<div class="datepicker">
				<div class="panel panel-default panel-datepicker">
	                <div class="panel-heading panel-datepicker-heading row show-grid">
	                	<div class="col-xs-13 btn-toolbar btn-month" role="toolbar">
	                		<button class="btn btn-default btn-group btn-month-scrooge">January</button>
			        		<button class="btn btn-default btn-group btn-month-scrooge">February</button>
			            	<button class="btn btn-default btn-group btn-month-scrooge">March</button>
			            	<button class="btn btn-default btn-group btn-month-scrooge">April</button>
			        		<button class="btn btn-default btn-group btn-month-scrooge">May</button>
			    			<button class="btn btn-default btn-group btn-month-scrooge">June</button>
			        		<button class="btn btn-default btn-group btn-month-scrooge">July</button>
			        		<button class="btn btn-default btn-group btn-month-scrooge">August</button>
			        		<button class="btn btn-default btn-group btn-month-scrooge">September</button>
			        		<button class="btn btn-default btn-group btn-month-scrooge">October</button>
			        		<button class="btn btn-default btn-group btn-month-scrooge">November</button>
			        		<button class="btn btn-default btn-group btn-month-scrooge">December</button>
	            		</div>
	                </div>
	                <div class="panel-footer panel-datepicker-footer row show-grid">
	                	<div class="btn-toolbar" role="toolbar">
		            		<button class="btn btn-default btn-group btn-day-scrooge">1</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">2</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">3</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">4</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">5</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">6</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">7</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">8</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">9</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">10</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">11</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">12</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">13</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">14</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">15</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">16</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">17</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">18</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">19</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">20</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">21</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">22</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">23</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">24</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">25</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">26</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">27</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">28</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">29</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">30</button>
		            		<button class="btn btn-default btn-group btn-day-scrooge">31</button>
	            		</div>
	                </div>
	        	</div>
	        </div>
        </div>
		<div class="col-xs-12">
			<div class="data-content">
				<div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>New Comments!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>New Tasks!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div>New Orders!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13</div>
                                    <div>Support Tickets!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
	            <div class="row filters-container" ng-show="showFilters">
	            	<div class="filter-models">
	            		<div>
                            <h4>Model
                            	<button ng-click="checkAll('models', true)">Check All</button>
                            	<button ng-click="checkAll('models', false)">Uncheck All</button>
                            </h4>
                            <div>
                    	        <li >
						            <label class="ng-binding" ng-repeat="item in models">
						            	{{item.Name}}
						                <input type="checkbox" ng-model="item.Selected" checked="checked"/>
						            </label>
						        </li>
                            </div>
                            <h4>Datacenter
                            	<button ng-click="checkAll('datacenters', true)">Check All</button>
                            	<button ng-click="checkAll('datacenters', false)">Uncheck All</button>
                            </h4>
                            <div>
                    	        <li >
						            <label  class="ng-binding" ng-repeat="item in datacenters">
						            	{{item.Name}}
						                <input type="checkbox" ng-model="item.Selected" selected/>
						            </label>
						        </li>
                            </div>
                            <h4>Environment
                            	<button ng-click="checkAll('environments', true)">Check All</button>
                            	<button ng-click="checkAll('environments', false)">Uncheck All</button>
                            </h4>
                            <div>
                    	        <li >
						            <label  class="ng-binding" ng-repeat="item in environments">
						            	{{item.Name}}
						                <input type="checkbox" ng-model="item.Selected" />
						            </label>
						        </li>
                            </div>
                        </div>
	            	</div>
	            </div>
	            <div ng-click="showFilters = !showFilters" style="text-align: center;cursor: pointer">====</div>
	            <div class="row data-table-container table-responsive">
					<label>
	            		<input ng-model="searchText" type="search" class="form-control" placeholder="Search">
	            	</label>
					<label id="generate-to-csv">
						<input ng-model="perPage" type="text" class="form-control" placeholder="50">
        			</label>
					<label>
	            		<input type="button" class="form-control" value="CSV">
	            	</label>
	            	<table class="table table-striped">
				      <thead>
				        <tr>
				          <th>Asset id</th>
				          <th>Name</th>
				          <th>Serial number</th>
  				          <th>Barcode</th>
				        </tr>
				      </thead>
				      <tbody>
				      <tr ng-repeat="result in results | filter:searchText">
					    <td>{{result.id}}</td>
					    <td>{{result.name}}</td>
					    <td>{{result.sn}}</td>
					    <td>{{result.barcode}}</td>
				      </tbody>
				    </table>
				    <div class="pagination-container">
				      <ul class="pagination">
						  <li><a href="">&laquo;</a></li>
						  <li class="active"><a href="#">1</a></li>
						  <li><a href="">2</a></li>
						  <li><a href="">3</a></li>
						  <li><a href="">4</a></li>
						  <li><a href="">5</a></li>
						  <li><a href="">&raquo;</a></li>
					  </ul>
					 </div>
	            </div>
			</div>
		</div>
	</div>
</div>