<div ng-if="!stats.costcard.error_message" id="table-costcard" class="animate-table" ng-repeat="forceRefresh in forceRefreshDomElement">
  <table data-toggle="table" data="{{stats.costcard.content}}" data-row-style="rowStyle">
    <thead>
      <tr>
        <th data-field="name" data-sortable="true">Usage name</th>
        <th data-field="cost" data-halign="center" data-align="right" data-sortable="true" data-formatter="costFormatter">Cost</th>
      </tr>
    </thead>
  </table>
  <script>
      function costFormatter(value, row) {
        value_list = String(value).split('.');
        new_value = '';
        for(var i = value_list[0].length; i > 0; i--) {
          if (i % 3 === 0) {
            new_value += ' ';
          }
          new_value += value_list[0][value_list[0].length - i];
        }
        if (value_list.length === 2) {
          new_value += '.' + value_list[1];
        }
        return new_value + ' PLN';
      }
      function rowStyle(row, index) {
        if (row.name == 'Total') {
          return {classes: 'total-cost'};
        }
        return {};
      }
  </script>
</div>
<div class="costcard-error-message" ng-if="stats.costcard.error_message">
  <p>{{ stats.costcard.error_message }}</p>
</div>