<div class="container-xs-height body-container" ng-controller="dependencytree">
    <div class="col-xs-2 left-menu-container col-xs-height col-bottom">
        <div class="col-xs-height col-bottom sidebar-well well navmenu navmenu-default navmenu-fixed-left in">
            <div class="navbar-default sidebar-navbar-default" role="navigation">
                <div class="sidebar-nav navbar-collapse sidebar-nav-scrooge">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li class="active">
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i>Stash<span class="fa arrow"></span></a>
                            <ul class="active nav nav-second-level">
                                <li>
                                    <a href="">Prod</a>
                                </li>
                                <li>
                                    <a href="">Test</a>
                                </li>
                                <li>
                                    <a href="">Dev</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i>Agito<span class="fa arrow"></span></a>
                            <ul class="active nav nav-second-level collapse">
                                <li>
                                    <a href="">Test</a>
                                </li>
                                <li>
                                    <a href="">Dev</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li class="active">
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i>Allegro<span class="fa arrow"></span></a>
                            <ul class="active nav nav-second-level collapse">
                                <li>
                                    <a href="">Prod</a>
                                </li>
                                <li>
                                    <a href="">Test</a>
                                </li>
                                <li>
                                    <a href="">Dev</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
        </div>
    </div>
    <div class="col-xs-10 content">
        <div class="col-xs-12">
            <div class="datepicker">
                <div class="panel panel-default panel-datepicker panel-background">
                    <div class="bg-datepicker bg-background" ng-controller="ButtonsCtrl">
                        <div class="panel-heading panel-datepicker-heading row show-grid">
                            <div class="col-xs-13 btn_group btn-month" role="toolbar">
                                <button ng-model="btn_months" btn-radio="'january'" class="btn-datepicker btn btn-default btn-group btn-month-scrooge">January</button>
                                <button ng-model="btn_months" btn-radio="'february'" class="btn-datepicker btn btn-default btn-group btn-month-scrooge">February</button>
                                <button ng-model="btn_months" btn-radio="'march'" class="btn-datepicker btn btn-default btn-month-scrooge">March</button>
                                <button ng-model="btn_months" btn-radio="'april'" class="btn-datepicker btn btn-default btn-group btn-month-scrooge">April</button>
                                <button ng-model="btn_months" btn-radio="'may'" class="btn-datepicker btn btn-default btn-group btn-month-scrooge">May</button>
                                <button ng-model="btn_months" btn-radio="'june'" class="btn-datepicker btn btn-default btn-group btn-month-scrooge">June</button>
                                <button ng-model="btn_months" btn-radio="'july'" class="btn-datepicker btn btn-default btn-group btn-month-scrooge">July</button>
                                <button ng-model="btn_months" btn-radio="'august'" class="btn-datepicker btn btn-default btn-group btn-month-scrooge">August</button>
                                <button ng-model="btn_months" btn-radio="'september'" class="btn-datepicker btn btn-default btn-group btn-month-scrooge">September</button>
                                <button ng-model="btn_months" btn-radio="'october'" class="btn-datepicker btn btn-default btn-group btn-month-scrooge">October</button>
                                <button ng-model="btn_months" btn-radio="'nvember'" class="btn-datepicker btn btn-default btn-group btn-month-scrooge">November</button>
                                <button ng-model="btn_months" btn-radio="'december'" class="btn-datepicker btn btn-default btn-group btn-month-scrooge">December</button>
                            </div>
                            <div class="col-xs-13 btn_group btn-day" role="toolbar">
                                <button ng-model="btn_days" btn-radio="'1'" class="btn-datepicker btn btn-default btn-day-scrooge">1</button>
                                <button ng-model="btn_days" btn-radio="'2'" class="btn-datepicker btn btn-default btn-day-scrooge">2</button>
                                <button ng-model="btn_days" btn-radio="'3'" class="btn-datepicker btn btn-default btn-day-scrooge">3</button>
                                <button ng-model="btn_days" btn-radio="'4'" class="btn-datepicker btn btn-default btn-day-scrooge">4</button>
                                <button ng-model="btn_days" btn-radio="'5'" class="btn-datepicker btn btn-default btn-day-scrooge">5</button>
                                <button ng-model="btn_days" btn-radio="'6'" class="btn-datepicker btn btn-default btn-day-scrooge">6</button>
                                <button ng-model="btn_days" btn-radio="'7'" class="btn-datepicker btn btn-default btn-day-scrooge">7</button>
                                <button ng-model="btn_days" btn-radio="'8'" class="btn-datepicker btn btn-default btn-day-scrooge">8</button>
                                <button ng-model="btn_days" btn-radio="'9'" class="btn-datepicker btn btn-default btn-day-scrooge">9</button>
                                <button ng-model="btn_days" btn-radio="'10'" class="btn-datepicker btn btn-default btn-day-scrooge">10</button>
                                <button ng-model="btn_days" btn-radio="'11'" class="btn-datepicker btn btn-default btn-day-scrooge">11</button>
                                <button ng-model="btn_days" btn-radio="'12'" class="btn-datepicker btn btn-default btn-day-scrooge">12</button>
                                <button ng-model="btn_days" btn-radio="'13'" class="btn-datepicker btn btn-default btn-day-scrooge">13</button>
                                <button ng-model="btn_days" btn-radio="'14'" class="btn-datepicker btn btn-default btn-day-scrooge">14</button>
                                <button ng-model="btn_days" btn-radio="'15'" class="btn-datepicker btn btn-default btn-day-scrooge">15</button>
                                <button ng-model="btn_days" btn-radio="'16'" class="btn-datepicker btn btn-default btn-day-scrooge">16</button>
                                <button ng-model="btn_days" btn-radio="'17'" class="btn-datepicker btn btn-default btn-day-scrooge">17</button>
                                <button ng-model="btn_days" btn-radio="'18'" class="btn-datepicker btn btn-default btn-day-scrooge">18</button>
                                <button ng-model="btn_days" btn-radio="'19'" class="btn-datepicker btn btn-default btn-day-scrooge">19</button>
                                <button ng-model="btn_days" btn-radio="'20'" class="btn-datepicker btn btn-default btn-day-scrooge">20</button>
                                <button ng-model="btn_days" btn-radio="'21'" class="btn-datepicker btn btn-default btn-day-scrooge">21</button>
                                <button ng-model="btn_days" btn-radio="'22'" class="btn-datepicker btn btn-default btn-day-scrooge">22</button>
                                <button ng-model="btn_days" btn-radio="'23'" class="btn-datepicker btn btn-default btn-day-scrooge">23</button>
                                <button ng-model="btn_days" btn-radio="'24'" class="btn-datepicker btn btn-default btn-day-scrooge">24</button>
                                <button ng-model="btn_days" btn-radio="'25'" class="btn-datepicker btn btn-default btn-day-scrooge">25</button>
                                <button ng-model="btn_days" btn-radio="'26'" class="btn-datepicker btn btn-default btn-day-scrooge">26</button>
                                <button ng-model="btn_days" btn-radio="'27'" class="btn-datepicker btn btn-default btn-day-scrooge">27</button>
                                <button ng-model="btn_days" btn-radio="'28'" class="btn-datepicker btn btn-default btn-day-scrooge">28</button>
                                <button ng-model="btn_days" btn-radio="'29'" class="btn-datepicker btn btn-default btn-day-scrooge">29</button>
                                <button ng-model="btn_days" btn-radio="'30'" class="btn-datepicker btn btn-default btn-day-scrooge">30</button>
                                <button ng-model="btn_days" btn-radio="'31'" class="btn-datepicker btn btn-default btn-day-scrooge">31</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div>
                <div ng-model="treeChart" id="treechart" google-chart orgchart="chartObject"></div>
            </div>
        </div>
        <!--
            <div class="col-xs-4">
                <div class="panel panel-default panel-percent-chart panel-background">
                    <div class="bg-percent-chart bg-background">
                        <div google-chart chart="chart"></div>
                    </div>
                </div>
                <div class="panel panel-default panel-legend-tree panel-background">
                    <div class="bg-legend-tree bg-background">
                        <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th class="col-xs-2"></th>
                                  <th class="col-xs-5"></th>
                              </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>
                                <div class="color-mark" style="background-color: red" ></div>
                            </td>
                            <td><label>Your Service</label></td>
                          </tr>
                          <tr>
                            <td>
                                <div class="color-mark" style="background-color: green" ></div>
                            </td>
                            <td><label>Service</label></td>
                          </tr>
                          <tr>
                            <td>
                                <div class="color-mark" style="background-color: blue" ></div>
                            </td>
                            <td><label>Device</label></td>
                          </tr>
                          <tr>
                              <td>
                                <div class="color-mark" style="background-color: yellow" ></div>
                              </td>
                              <td><label>Extra cost</label></td>
                            </td>
                          </tr>
                          <tr>
                              <td>
                                <div class="color-mark" style="background-color: gray" ></div>
                              </td>
                              <td><label>Base cost</label></td>
                          </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            -->
            </div>
        </div>
    </div>
