<ul class="nav" id="side-menu">
    <div ng-if="getDictLength(stats.menus) > 1">
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li ng-click="stats.statsMenu.menu.change = menuName" ng-repeat="(menuName, menu) in stats.menus"><a>{{menuName}}</a></li>
        </ul>
    </div>
    <li class="sidebar-search">
        <div class="input-group custom-search-form">
            <input ng-model="searchTextMenu" type="text" class="form-control" placeholder="Search...">
        </div>
    </li>
    <div ng-repeat="(menuName, menu) in stats.menus">
        <li ng-show="stats.menuStats.menu.current == menuName" class="env-menu" ng-repeat="service in menu | filter:searchTextMenu">
            <a class="btn-left-menu {{stats.menuStats['service']['current'] == service.service ? 'active' : ''}}" ng-click="menuService.changeService(service)">{{service.service}}</a>
            <ul ng-click="menuService.changeEnv(service.service, env.env)" ng-show="stats.menuStats['service']['current'] == service.service" class="nav nav-second-level" ng-repeat="env in service.value.envs">
                <li>
                    <a class="btn-left-submenu {{stats.menuStats['env']['current'] == env.env ? 'active' : ''}}" ng-click="setCurrentEnv(env)">{{env.env}}</a>
                </li>
            </ul>
        </li>
    </div>
</ul>
