<table class="allocation-admin-table">
  <thead>
    <tr>
      <th>Charged service</th>
      <th>Charged environment</th>
      <th>Division (%)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in stats.currentTabs[stats.currentTab].rows">
      <td ng-class="row.errors.service ? 'tab-error' : ''">
        <select ng-model="row.service" class="form-control" ng-options="service.id as service.name for service in stats.leftMenus.services">
        </select>
        <div>{{row.errors.service}}</div>
      </td>
      <td ng-class="row.errors.env ? 'tab-error' : ''">
        <select ng-model="row.env" class="form-control" ng-options="env.id as env.name for env in stats.getEnvs(row.service)">
        </select>
        <div>{{row.errors.env}}</div>
      </td>
      <td class="value-col value-percent-col" ng-class="row.errors.value ? 'tab-error' : ''">
        <input ng-model="row.value" type="text" class="form-control" value="{{row.value}}" id="{{row.id}}">
        <label> %</label>
        <div>{{row.errors.value}}</div>
      </td>
      <td class="action-col">
        <button ng-click="removeRow($index, stats.currentTabs[stats.currentTab].rows)" type="button" class="btn btn-danger">-</button>
      </td>
    </tr>
    <tr class="additional-row-header">
      <td></td>
      <td></td>
      <td ng-class="getTotal(stats.currentTab)==100 ? 'green' : 'red'" class="col-xs-1 total">
        {{getTotal(stats.currentTab) | number:2}}
        <div>%</div>
      </td>
      <td class="col-xs-1 action-col">
        <button ng-click="addRow(stats.currentTabs[stats.currentTab].rows)" type="button" class="btn btn-success">+</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="action-col"><button ng-click="stats.saveAllocation(stats.currentTab)" class="btn btn-success allocation-save">Save</button></td>
    </tr>
  </tbody>
</table>
