<table class="table">
    <tr>
      <td></td>
      <td>{{stats.currentTabs.serviceExtraCost.total}}</td>
      <td><button ng-click="addRow(stats.currentTabs.serviceExtraCost.rows)" type="button" class="btn btn-success">+</button></td>
    </tr>
    <tr ng-repeat="row in stats.currentTabs.serviceExtraCost.rows">
      <td>
        <input ng-model="row.description" type="text" class="form-control" value="{{row.description}}">
      </td>
      <td>
        <input ng-model="row.value" ng-change="updateTotal('serviceExtraCost')" type="text" class="form-control" value="{{row.value}}">
      </td>
      <td>
        <button ng-click="removeRow($index, stats.currentTabs.serviceExtraCost.rows)" type="button" class="btn btn-danger">-</button>
      </td>
    </tr>
</table>
<div>
  <button ng-click="stats.saveAllocation('serviceExtraCost')">Save</button>
</div>
