<table class="table">
<tr>
<thead>
<th>Cost description</th>
<th>Cost value(PLN)</th>
</thead>
</tr>
<tbody>
    <tr class="additional-row-header">
      <th></th>
      <th></th>
      <th ng-class="stats.allocationclient.serviceDivision.total==100 ? 'green' : 'red'" class="col-xs-2 total">
      <label for="total">Total:</label>
      {{stats.currentTabs.serviceDivision.total}}%</th>
      <th class="col-xs-1 action-col">

      <button ng-click="addRow(stats.currentTabs.serviceDivision.rows)" type="button" class="btn btn-success">+</button></th>
    </tr>
    <tr ng-repeat="row in stats.currentTabs.serviceDivision.rows">
      <td>
        <select ng-model="row.service" class="form-control" ng-options="service.id as service.name for service in stats.leftMenus.services">
        </select>
      </td>
      <td>
        <select ng-model="row.env" class="form-control" ng-options="env.id as env.name for env in stats.getEnvs(row.service)">
        </select>
      </td>
      <td>
        <input ng-model="row.value" ng-change="updateTotal('serviceDivision')" type="text" class="form-control" value="{{row.value}}"> %
      </td>
      <td class="action-col">
        <button ng-click="removeRow($index, stats.currentTabs.serviceDivision.rows)" type="button" class="btn btn-danger">-</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="action-col"><button ng-click="stats.saveAllocation('serviceDivision')" class="btn btn-success allocation-save">Save</button></td>
    </tr>
    </tbody>
</table>
