<table class="table">

  <h1>team coast</h1>
    <tr>
      <td></td>
      <td>{{stats.currentTabs.teamDivision.total}}%</td>

      <td><button ng-click="addRow(stats.currentTabs.teamDivision.rows)" type="button" class="btn btn-success">+</button></td>
    </tr>
    <tr ng-repeat="row in stats.currentTabs.teamDivision.rows">
      <td>
        <select ng-model="row.team" class="form-control" ng-options="team.id as team.name for team in stats.leftMenus.teams">
        </select>
      </td>
      <td>
        <input ng-model="row.value" ng-change="updateTotal('teamDivision')" type="text" class="form-control" value="{{row.value}}">
      </td>
      <td>
        <button ng-click="removeRow($index, stats.currentTabs.teamDivision.rows)" type="button" class="btn btn-danger">-</button>
      </td>
    </tr>
</table>
<div>
  <button ng-click="stats.saveAllocation('teamDivision')">Save</button>
</div>
