<table class="table">
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr ng-repeat="row in stats.allocationadmin.teamcosts.rows">
      <td>
        {{row.team.name}}
      </td>
      <td>
        <input ng-model="row.members" type="text" class="form-control" value="{{row.members}}">
      </td>
      <td>
        <input ng-model="row.cost" type="text" class="form-control" value="{{row.cost}}">
      </td>
    </tr>
</table>
<div>
  <button ng-click="stats.saveAllocation('teamDivision')">Save</button>
</div>