<table class="table">
  <thead>
    <tr>
      <th>Team name</th>
      <th>Cost</th>
      <th>Forecast cost</th>
      <th>Members</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in stats.currentTabs.teamcosts.rows">
      <td>{{ row.team.name }}</td>
      <td class="action-col">
        <input ng-model="row.cost" type="text" class="form-control">
      </td>
      <td>
        <input ng-model="row.forecast_cost" type="text" class="form-control">
      </td>
      <td class="action-col">
        <input ng-model="row.members" type="text" class="form-control">
      </td>
    </tr>
  </tbody>
</table>
<div>
  <button ng-click="stats.saveAllocation('teamcosts')">Save</button>
</div>