<div id="upload_modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Upload usages
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" ng-if="uploadErrors">
          <p ng-repeat="error in uploadErrors">{{ error }}</p>
        </div>

        <input type="file" file-model="myFile"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="uploadFile()">Upload</button>
      </div>
    </div>
  </div>
</div>
